/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font: 'Roboto', serif;

@import url('https://fonts.googleapis.com/css?family=Anton|Oswald&display=swap');
$byline: 'Oswald', serif;

/**
 * Colors
 */
$blue: #3273c5;
$not-white: #DDDDDD;
$grey-text: #999999;


/**
 * Grid
 */
